<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Gavin Allmond CV</title>
		<!-- bootstrap -->
		<link rel="stylesheet" href="/css/bootstrap.min.css" >
		<!-- fontawesome for icons -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
		
		<style type="text/css">

			.leftcolumn{
				text-align: right;
				border-right:1px solid rgba(0,0,0,.1); /* copied from hr */
			}

			h2{
				font-weight: 450;
			}

			h3{
				font-weight: 250;
			}


		</style>

	</head>
	<body>


		<div class="container">
			<div class="row">
				<div class="col-sm-12" style="text-align:center">
					<h1>Gavin Allmond</h1>
					<h3>Web Developer</h3>
				</div>
			</div>
		
			<div class="row">

				<!-- LEFT COLUMN -->
				<div class="col-sm-4 leftcolumn">
					
					<!-- CONTACT -->
					<div class="row">
						<div class="col-sm-12">
							<h2>Contact</h2>
							<ul class="list-unstyled">
								<li>gallmond.net <i class="fas fa-fw fa-globe"></i></li>
								<li>github/gallmond <i class="fas fa-fw fa-code"></i></li>
								<li>redacted <i class="fas fa-fw fa-mobile-alt"></i></li>
								<li>redacted <i class="fas fa-fw fa-envelope"></i></li>
								<li>London, SW1 <i class="fas fa-fw fa-map-marker-alt"></i></li>
							</ul>
						</div>
					</div>
					
					<hr /><!--  DIVIDER -->

					<!-- SKILLS -->
					<div class="row">
						<div class="col-sm-12">
							<h2>Technical Skills</h2>

							<h3>Application development</h3>
							<ul class="list-unstyled">
								<li>Node.js, PHP, MS JScript, ASP, Python</li>
								<li>HTML, CSS, JavaScript</li>
								<li>Laravel, Bootstrap, Express, EJS</li>
								<li>MongoDB, MySQL, Redis</li>
								<li>Version control: GIT</li>
							</ul>

							<h3>Infrastructure</h3>
							<ul class="list-unstyled">
								<li>AWS: EC2, Elasticache, S3, VPC</li>
								<li>Linux: Ubuntu, Redhat, Debian</li>
								<li>Heroku</li>
							</ul>

						</div>
					</div>

					<hr /><!--  DIVIDER -->

					<!-- EDUCATION -->
					<div class="row">
						<div class="col-sm-12">
							<h2>Education</h2>

							<h3>BSc Business Computing</h3>
							<p>London Metropolitan University 2011</p>

							<h3>FD Degree ICT</h3>
							<p>Northumbria University 2010</p>
						</div>
					</div>
				</div>
				<!-- LEFT COLUMN END -->

				<!-- RIGHT COLUMN -->
				<div class="col-sm-8">

					<!-- BIO -->
					<div class="row">
						<div class="col-sm-12">
							<h2>About</h2>
							<p>Professional full stack developer since 2013. Web tinkerer for longer. Enjoys finding and solving problems in web app creation.</p>
						</div>
					</div>

					<hr /><!--  DIVIDER -->

					<div class="row">
						<div class="col-sm-12">
							<h2>Web Developer | Senior Web Developer</h2>
							<h3>IMPULSEPAY | March 2013 - present</h3>
							<p>Continued development and maintenance of business logic and infrastructure for mobile billing web applications and merchant portals.</p>
							<ul>
								<li>Billing integrations
									<ul>
										<li>Accreditation with mobile network operators.</li>
										<li>API integration across multiple standards (SOAP, REST, SMPP).</li>
										<li>Testing new services with mobile network operators and feeding back improvements.</li>
									</ul>
								</li>
								<li>Merchant &amp; Admin dashboard
									<ul>
										<li>Billing page template upload tools.</li>
										<li>Performance metric displays.</li>
										<li>User management tools.</li>
										<li>Other in-house tools.</li>
									</ul>
								</li>
								<li>Payment page logic
									<ul>
										<li>Routing traffic to appropriate service.</li>
										<li>Page delivery.</li>
										<li>Processing payment attempts.</li>
									</ul>
								</li>
								<li>Security upgrades
									<ul>
										<li>EC2 linux &amp; windows server upgrades.</li>
										<li>Network security management &amp; VPN configurement.</li>
									</ul>
								</li>
								<li>Bug hunting and fixes
									<ul>
										<li>Liaising with merchants &amp; service providers to resolve issues.</li>
										<li>Maintaining and improving legacy code.</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>

					<hr /><!--  DIVIDER -->

					<div class="row">
						<div class="col-sm-12">
							<h2>Learning Advisor</h2>
							<h3>REED LEARNING/SODEXO | January 2012 - February 2013</h3>
							<p>Administration of Sodexo’s staff training programs including class and venue booking with learner support.</p>
							<ul>
								<li>Advising managers which courses to book.</li>
								<li>Booking venues and catering.</li>
								<li>Troubleshooting online learning tool for users.</li>
								<li>Organising and dispatching certificates to workplaces.</li>
							</ul>
						</div>
					</div>

					<hr /><!--  DIVIDER -->

					<div class="row">
						<div class="col-sm-12">
							<h2>Fundraiser</h2>
							<h3>CONCERN | October 2011</h3>
							<p>Raising money on the streets for charity.</p>
							<ul>
								<li>Advertising the charity’s operations to people on the street.</li>
								<li>Processing sign-ups for monthly charity donations.</li>
							</ul>
						</div>
					</div>

					<hr /><!--  DIVIDER -->

					<div class="row">
						<div class="col-sm-12">
							<h2>Database Administrator</h2>
							<h3>SERVICE NETWORK | August 2010 - October 2010</h3>
							<p>Managing contacts database for network management business.</p>
							<ul>
								<li>Cleaning up old and duplicate entries in the contacts database.</li>
								<li>Developing processes for accessing and maintaining the database.</li>
							</ul>
						</div>
					</div>

					<hr /><!--  DIVIDER -->

					<div class="row">
						<div class="col-sm-12">
							<h2>Sales Assistant</h2>
							<h3>MICROANVIKA | September 2007 - February 2008</h3>
							<p>Making and processing sales for electronics shop.</p>
							<ul>
								<li>Advising customers on available products.</li>
								<li>Processing sales and returns.</li>
								<li>Stock management.</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- RIGHT COLUMN END -->

			</div>

		</div>

	<!-- jquery (needed by bootstrap) -->
	<script src="/js/jquery-3.3.1.min.js" ></script>
	<!-- bootstrap -->
	<script src="/js/bootstrap.min.js" ></script>
	</body>
</html>