<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Food With Friends</title>
    <style>
        table{
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .container{
            padding-top: 50px;
        }
        /* .container{
            padding-top: 50px;
            border:1px solid black;
        }
        .row{
            border:1px solid green;
        }
        .leftcolumn, .rightcolumn{
            border:1px solid red;
        } */
    </style>

    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>

<body>

    <div class="container">
        <div class="row">
            <!-- // LEFT COLUMN // -->
            <div class="col-sm-7 leftcolumn">

                <div class="row">
                    <div class="col-sm-12">
                        <h2>Calendar</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div id="bootstrap_calendar_container"></div>
                        </div>
                    </div>
                </div>



            </div>

            <!-- // LEFT COLUMN // -->
            <div class="col-sm-5 rightcolumn">
                <h1>Information</h1>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="<%= project_path %>js/fwfCalendar.js?d=<%= new Date().valueOf() %>"></script>
    <script type="text/javascript">
        function autorun() {
            // create calendar
            var cal = new calendar("bootstrap_calendar_container");

            // add my existing dates
            cal.loadMyAvailableDays( <%- JSON.stringify(my_available_days) %> );
            // add other available dates
            cal.loadFriendsAvailableDays( <%- JSON.stringify(other_people_available_days) %> );

        }
        if (document.addEventListener) document.addEventListener("DOMContentLoaded", autorun, false);
        else if (document.attachEvent) document.attachEvent("onreadystatechange", autorun);
        else window.onload = autorun;
    </script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>